    <footer class="clearfix fixed-bottom">
        <p class="copyright"> Copyright 2020 </p>
        <p class="message"> Created with &hearts; by <span class="name">Gabriel Varella</span> </p>
    </footer>
</body>
</html>