<%- include('../partials/header'); %>

<h2 class="shadow p-3 mb-5 bg-light rounded">My Workouts</h2>
<br>
<%= workouts %>
<br>
<form method="POST" action="/workouts">
  <div class="input-group">
    <input name="name" type="text" class="form-control" placeholder="Workout Name" aria-label="" aria-describedby="basic-addon1">
  </div>
  <div class="input-group-append">
    <button class="btn btn-success" type="submit">Add Workout</button>
  </div>
</form>




<%- include('../partials/footer'); %>