.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.mynavbar {
  background-color: aquamarine;
  height: 12em;
  
}

.mynavbarftsize {
  font-size: 1em;
  color: black;
}

.exdescription {
  font-size: 2em;
}

.listproperties {
  font-size: 1.5em;
}