<%- include('../partials/header') %>
  <h2 class="shadow p-3 mb-5 bg-light rounded">My Workouts</h2>
  <br>
  <div class="card">
    <div class="card-body">    
      <ul class="list-group">
        <br><li class="list-group-item">Morbi leo risus</li>
        <br><li class="list-group-item">Porta ac consectetur ac</li>
        <br><li class="list-group-item">Vestibulum at eros</li>
      </ul>
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-outline-primary">Add Workout</button>


<%- include('../partials/footer') %>