<%- include('../partials/header'); %>
<div class="shadow-lg p-3 mb-5 bg-white rounded" class="row">
    <div class="col-sm-3">
        <div class="card" style="width:50rem;">
            <img class="card-img-top" src="https://source.unsplash.com/1600x900/?fitness, gym" alt="Card image top">
            <div class="card-body">
                <h3 class="card-title">A Thousand Mile Journey Starts With a Single Step</h3>
                <br><h4 class="card-subtitle">Track Your Progress</h4>
                <p class="card-text">Most individuals begin a new exercise program with the best intentions, but may fall short of their goals or end up abandoning them altogether. Maintaining an exercise journal helps a person keep track of progress and see firsthand if he or she is sticking to a steady exercise routine.</p>
            </div>
        </div>
    </div>
</div>
   
<%- include('../partials/footer'); %>
